body {
    display: grid;
    height: 100dvh;
    grid-template: 1fr 10fr 1fr / 1fr 5fr 1fr;

    justify-items: center;
    align-items: center;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: max(10px, 10vw);
    justify-items: center;
}

.container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1 1 0;
}

.grid-cell {
    flex: 1 1 0;
    background-color: blue;
    display: grid;
    justify-items: center;
    align-content: center;
    color: white;
    font-size: 5rem;
}

.controls {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.player-header {
    display: inline-block;
}
