body {
    display: grid;
    height: 100dvh;
    grid-template: 1fr 10fr 1fr / 1fr 5fr 1fr;

    justify-items: center;
    align-items: center;
}

h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1 1 0;
}

.grid-cell {
    flex: 1 1 0;
    background-color: blue;
    display: grid;
    justify-items: center;
    align-content: center;
    color: white;
    font-size: 5rem;
}

.controls {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
